<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestCode2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0938CCCB2A1E53EC00CF7780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0938CCDB2A1E53EE00CF7780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0938CCE52A1E53EE00CF7780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
